body
{
    background-color: #16a085;
    color :black;
}
.sidebar-wrapper ul.nav
{
    display: flex;

}
.sidebar-wrapper ul.nav li a
{
    text-decoration: none;
}
.sidebar-wrapper ul.nav li a:hover
{
    color: blanchedalmond;
}